h4{
    text-align: center;
}
input{
    margin-top: 15px;
    border-radius: 10px;
}
button{
    margin-top: 10px;
}
.block{
    padding:30px;
    border: 1px solid violet;
    border-radius: 20px;
    margin-bottom: 20px;
}
/* small{
    color:red;
} */
input.ng-touched.ng-invalid{
    border:1px solid red;
}
input.ng-touched.ng-valid{
    border-left:5px solid green;
}