h4{
    text-align: center;
}
input{
    margin-bottom: 10px;
    border-radius: 10px;
}
button{
    margin-top: 10px;
}
.block{
    padding:30px;
    border: 1px solid violet;
    border-radius: 20px;
    margin-bottom: 20px;
}

