<!-- <app-employee-info></app-employee-info> -->
<div class="container">
    <h3 class="bg-success">Click the bellow buttons to see the output of assignments :</h3>
    <div>
        <button routerLinkActive="active" routerLink="employeeinfo1" id="Assignment1" class="btn btn-primary">Assignment 1</button>
        <button routerLinkActive="active" routerLink="employeeinfo2" id="Assignment2" class="btn btn-primary">Assignment 2</button>
        <button routerLinkActive="active" routerLink="employeeinfo3" id="Assignment3" class="btn btn-primary">Assignment 3</button>
        <button routerLinkActive="active" routerLink="employeeinfo4"id="Assignment4" class="btn btn-primary">Assignment 4</button>
        <button routerLinkActive="active" routerLink="home" id="Home" class="btn btn-primary">Home</button>
        <button routerLinkActive="active" routerLink="product" id="Product" class="btn btn-success">Product</button>
        <button routerLinkActive="active" routerLink="contact" id="Contact" class="btn btn-dark">Contact</button>
        <button routerLinkActive="active" routerLink="template-form" id="Assignment7" class="btn btn-primary">Assignment 7</button>
        <button routerLinkActive="active" routerLink="reactive-form" id="Assignment8" class="btn btn-primary">Assignment 8</button>
        <button routerLinkActive="active" routerLink="template-form2" id="Assignment9" class="btn btn-primary">Assignment 9</button>
        <button routerLinkActive="active" routerLink="reactive-form2" id="Assignment10" class="btn btn-primary">Assignment 10</button>
        <button routerLinkActive="active" routerLink="login" id="Assignment11" class="btn btn-primary">Assignment 11</button>
    </div>
    <hr>
    <router-outlet></router-outlet>
</div>