<div class="container">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Product Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of product">
                <td>{{prod.name}}</td>
                <td>{{prod.price|currency:'INR'}}</td>
                <td><button class="btn btn-primary" routerLink="/product/{{prod.id}}">View Details</button></td>
            </tr>
        </tbody>
    </table>
</div>
